
<div class="card post mb-3">
  <div class="card-header post-title-homepage p-3 text-white" style="background:#669e9a;">
    <h4>
      {{{get_emoji}}}
      <a class="text-white"><strong>{{title}}</strong></a>
    </h4>
  </div>
  <div class="card-body p-4">
    <p class="card-text"><strong>{{content}}</strong></p>
    <p class="display-7">- Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>

{{#each comments }}
<div class="card post mb-3">
  <div class="card-header post-title-homepage p-3 text-white" style="background:#d8e9e8;">
    <h6>
      <a class="text-black"><strong>Comment</strong></a>
    </h6>
  </div>
  <div class="card-body p-4">
    <p class="card-text"><strong>{{content}}</strong></p>
    <p class="display-7">- Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>

{{/each}}
<div class="d-grid gap-2">
  <button type="button" class="btn btn-new-comment text-white" data-id="{{id}}" id="btn-new-comment"style="background:#669e9a;">+ CREATE A NEW COMMENT</button>
</div>

<script src="../../js/post.js"></script>

